:root {
  --color-background: rgb(16, 14, 16);
  --color-foreground: rgba(117, 64, 106, 0.308);
  --color-outline: rgb(71, 52, 71);
  --color-primary: #ffc1fc;

  --color-button-hover: rgb(32, 32, 36);
  --color-button-inactive: rgb(28, 28, 32);
}

@keyframes LoadIn {
  0% {
    transform: translateY(25%);
    opacity: 0;
  }
  25% {
    transform: translateY(25%);
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  75% {
    transform: translateY(-1%);
    opacity: 1;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes SlideIn {
  0% {
    transform: translateX(25%);
    opacity: 0;
  }
  25% {
    transform: translateX(25%);
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  75% {
    transform: translateX(-1%);
    opacity: 1;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes PopIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  25% {
    transform: scale(25%);
    opacity: 0;
  }
  75% {
    transform: scale(105%);
    opacity: 1;
  }
  100% {
    transform: scale(100%);
    opacity: 1;
  }
}

@keyframes ChangeFileType {
  13% {
    transform: translateY(0px);
    opacity: 1;
  }

  16% {
    content: ".csv";
    transform: translateY(16px);
    opacity: 0;
  }
  17% {
    content: ".json";
    transform: translateY(-16px);
    opacity: 0;
  }

  20% {
    transform: translateY(0px);
    opacity: 1;
  }
  46% {
    transform: translateY(0px);
    opacity: 1;
  }

  49% {
    content: ".json";
    transform: translateY(16px);
    opacity: 0;
  }
  50% {
    content: ".xml";
    transform: translateY(-16px);
    opacity: 0;
  }

  53% {
    transform: translateY(0px);
    opacity: 1;
  }
  79% {
    transform: translateY(0px);
    opacity: 1;
  }

  82% {
    content: ".xml";
    transform: translateY(16px);
    opacity: 0;
  }
  83% {
    content: ".csv";
    transform: translateY(-16px);
    opacity: 0;
  }

  86% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes ChangeFileTypeWrapper {
  13% {
    background-color: rgba(33, 177, 254, 0.1);;
  }

  20% {
    background-color: rgba(254, 216, 0, 0.1);
  }
  46% {
    background-color: rgba(254, 216, 0, 0.1);
  }

  53% {
    background-color: rgba(254, 33, 140, 0.1);
  }
  79% {
    background-color: rgba(254, 33, 140, 0.1);
  }

  86% {
    background-color: rgba(33, 177, 254, 0.1);
  }
}

@keyframes BlurOut {
  0% {
    backdrop-filter: blur(10px);
  }

  100% {
    backdrop-filter: blur(0px);
  }
}

#fileTypeAnimWrapper {
  animation: ChangeFileTypeWrapper infinite 9s;
  background-color: rgba(33, 177, 254, 0.1);
  border-radius: 5px;
  display: inline-block;
  width: 64px;
}

#fileTypeAnim::before {
  content: ".csv";
  transform: translateY(0px);

  animation: ChangeFileType infinite 9s;

  color: #ffffff;
  display: inline-block;
  width: 50px;
  
  padding: 4px 4px 4px 2px;
}

/* Sidebar */

.sidebar {
  position: fixed;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
  width: 240px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  color: rgb(124, 89, 165);
  font-size: 1.4rem;
  margin-top: 30px;
  margin-bottom: 15px;
  border-left: 4px solid rgba(0, 0, 0, 0);
  padding-left: 15px;
  transition: 200ms;
}

.sidebar a:hover {
  color: var(--color-primary);
  border-left: 4px solid var(--color-primary);
  transition: 200ms;
}

/* Error message popup */

.popup {
  position: absolute;
  height: auto;
  width: 380px;
  right: 16px;
  top: 92px;

  padding: 16px 16px 24px 16px;

  background-color: #80101050;
  border: 1px solid #ff3d3d50;
  border-radius: 12px;

  animation: 0.5s ease-in-out 0s 1 SlideIn;
}

.popup h2 {
  color: rgb(255, 124, 124);
  margin: 0px 0px 8px 40px;
  line-height: 32px;
}

.popup p {
  color: #c0a0a0;
  margin: 0px;
}

#popup-close {
  position: absolute;
  right: 16px;
  top: 16px;
}

#popup-icon{
  position: absolute;
  right: 16px;
  left: 16px;
}

/* Link icons */

.link-icons {
  width: auto;
  height: 32px;

  position: absolute;
  bottom: 24px;
  right: 24px;
}

.link-icons img {
  animation: 0.5s ease-in-out 0s 1 PopIn forwards;
  opacity: 0;
}

.link-icons img:Nth-child(1) {
  animation-delay: 0.2s;
}

.link-icons img:Nth-child(2) {
  animation-delay: 0.24s;
}

.link-icons img:Nth-child(3) {
  animation-delay: 0.28s;
}

.link-icons img:Nth-child(4) {
  animation-delay: 0.32s;
}

.link-icons img:Nth-child(5) {
  animation-delay: 0.36s;
}

/* Middle accept req */

.accept-request {
  position: absolute;
  top: calc(50% - 275px);
  left: calc(50% - 380px);

  width: 760px;
  height: 550px;

  background-color: #805d1050;
  border: 1px solid #ffcb3d50;
  border-radius: 12px;

  display: none;
}

.accept-request img {
  position: absolute;
  margin: 40px auto;
}

.accept-request h1 {
  color: #ffbb00;
  line-height: 32px;
  text-align: center;
  margin-top: 192px;
  font-size: 3rem;
  margin-left: 0;
}

.accept-request p {
  color: #c0b9a0;
  text-align: center;
  font-size: 1.3rem;
  white-space: pre-line;
}

.button-ar-should {
  width: 224px;
  height: 64px;
  background-color: #382703;
  border: 1px solid #79550a;
  border-radius: 12px;
  color: var(--color-primary);
  font-size: 1.5rem;
  cursor: pointer;
  color: #ffbb00;

  margin-left: calc(32% - 112px);
  margin-top: 32px;
  position: absolute;

  transition: 300ms;
}

.button-ar-should:hover {
  background-color: #553c05;
  border-color: #ffbb00;
  scale: 1.05;
  transition: 300ms;
}

.button-ar-should:active {
  background-color: #9c7218;
  border-color: #ffda75;
  scale: 0.95;
  transition: 100ms;
}


.button-ar {
  width: 224px;
  height: 64px;
  background-color: #35332d;
  border: 1px solid #5a5549;
  border-radius: 12px;
  color: var(--color-primary);
  font-size: 1.5rem;
  cursor: pointer;
  color: #c5c1b2;

  margin-left: calc(68% - 112px);
  margin-top: 32px;
  position: absolute;

  transition: 300ms;
}

.button-ar:hover {
  background-color: #66635a;
  border-color: #bdb39b;
  scale: 1.05;
  transition: 300ms;
}

.button-ar:active {
  background-color: #aaa597;
  border-color: #ece4d0;
  scale: 0.95;
  transition: 100ms;
}

/* O nás cursor override (cuz im lazy) */

.nh {
  cursor: default !important;
}

/* Box-sizing */

* {
  box-sizing: border-box; /* Include padding and border in element's dimensions */
}

/* Body, Background dots pattern */

.side-menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 480px;
  height: calc(100vh - 256px);
  margin-top: 128px;
  margin-bottom: 128px;
  background-color: rgba(0, 0, 0, 0.5);

  border-radius: 16px 0px 0px 16px;
  border: solid 1px var(--color-outline);
  background-color: var(--color-background);

  padding: 16px;

  animation: 0.5s ease-in-out 0s 1 SlideIn;
}

/* Body, Background dots pattern */

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: var(--color-background);
  background-image: radial-gradient(var(--color-foreground) 2px, transparent 1px);
  background-size: 35px 35px;
  color: var(--color-primary);
  font-family: Arial, Helvetica, sans-serif;
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: radial-gradient(circle, rgba(255, 255, 255, 0) 25%, var(--color-background));
  z-index: -1;
}

/* Header, Navigation bar, All its contents */
/* Header */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  width: 100%;
  background-color: var(--color-background);
  color: var(--color-primary);
  padding: 0 32px;
  border-bottom: 1px solid var(--color-foreground);
}

.logo {
  cursor: pointer;
  padding: 8px;
}

.logo a {
  display: flex;
  align-items: center;
}

.logo-img {
  border-radius: 50%;
}

.logo-text {
  margin-left: 16px;
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--color-primary);
}

/* Navigation bar */

.navigation {
  display: flex;
  align-items: center;
  gap: 32px;
}

/* All its contents */

a {
  all: unset;
}

.nav-button {
  color: var(--color-primary);
  cursor: pointer;
  text-decoration: none;
}

/* Upload - Icon, Title, Form */

.upload {
  animation: 0.5s ease-in-out 0s 1 LoadIn;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 172px);
  text-align: center;
}

.upload-title h1 {
  color: var(--color-primary);
  font-size: 4rem;
  margin: 0;
}

.upload-title p {
  color: gray;
  font-size: 1.5rem;
  margin: 8px 0 0;
  padding-bottom: 32px;
}

.button {
  width: 224px;
  height: 64px;
  background-color: var(--color-button-inactive);
  border: 1px solid var(--color-outline);
  border-radius: 12px;
  color: var(--color-primary);
  font-size: 1.5rem;
  cursor: pointer;
  transition: 300ms;
}

.button:hover {
  background-color: var(--color-button-hover);
  scale: 1.05;
  transition: 300ms;
}

.button:active {
  background-color: var(--color-outline);
  scale: 0.95;
  transition: 100ms;
}

.button img {
  margin-bottom: -4px;
  margin-right: 5px;
}

.text{
  margin-left: 20px;
}

h1 {
  color: rgb(169, 103, 228);
  font-weight:1000;
  margin-left: 3%;
}

h2 {
  color: rgb(124, 89, 165);
}

h3 {
  color: rgb(105, 77, 136);
}

/* Select Graph Type */

.graph-settings-wrapper {
  animation: 0.5s ease-in-out 0s 1 LoadIn;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 172px);
  text-align: center;
}

.graph-settings {
  position: relative;
  display: block;
  width: 480px;
  height: 160px;
}

#graphTypeInput {
  width: 100%;
  height: 64px;
  border-radius: 12px 12px 0 0;
  font-size: 16px;
  padding: 14px 20px 12px 24px;
  border: none;
  border-bottom: 1px solid var(--color-outline);
  background-color: var(--color-button-inactive);
  color: white;
}

#graphTypeInput:focus {
  outline: none;
}

#dropdown-select {
  width: 480px;
  height: auto;
  background-color: var(--color-button-inactive);
  border: 1px solid var(--color-outline);
  border-radius: 12px;
  color: var(--color-primary);
  font-size: 1.2rem;
  transition: 300ms;
}

#dropdown-select a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  margin: 8px;
  border-radius: 12px;
  background-color: var(--color-button-inactive);
  text-align: left;
  transition: 300ms;
}

#dropdown-select a:hover {
  background-color: var(--color-button-hover);
  transition: 300ms;
}

#dropdown-select a:active {
  background-color: var(--color-outline);
  transition: 300ms;
}

#typeSvg {
  margin-bottom: -5px;
  margin-right: 12px;
}

.graph-settings-wrapper .upload-icon {
  margin-top: -140px;
}

/* about us */

.slider {
  width: fit-content;
  text-align: center;
  display: flex;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0px 20px 0px;
}

#firstSlider {
  padding-top: 5%;
}

.card {
  height: 200px;
  width: 300px;
  background-color: var(--color-button-inactive);
  border-radius: 12px;
  border: 1px solid var(--color-outline);
  margin: 0 15px;
  transition: 300ms;
  padding: 10px;
  animation: 0.5s ease-in-out 0s 1 LoadIn forwards;
  opacity: 0;
}

.card:Nth-child(1) {
  animation-delay: 0s;
}

.card:Nth-child(2) {
  animation-delay: 0.1s;
}

.card:Nth-child(3) {
  animation-delay: 0.2s;
}

.card:Nth-child(4) {
  animation-delay: 0.3s;
}

.card:Nth-child(5) {
  animation-delay: 0.4s;
}

.card:hover {
  background-color: var(--color-button-hover);
  scale: 1.05;
  transition: 300ms;
}

.card h3 {
  margin-top: 20%;
  color: var(--color-primary);
}

a {
  cursor: pointer;
  color: var(--color-foreground);
}

#canvasDiv{
  display: none
}

.theory-link {
  text-align: center;
}

.theory-link h3 {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-primary);
}


.theory-bar {
  height: 80px;
  width: 480px;
  background-color: var(--color-button-inactive);
  border-radius: 12px;
  border: 1px solid var(--color-outline);
  transition: 300ms;
  animation: 0.5s ease-in-out 0s 1 PopIn forwards;
  opacity: 0;
  margin: 8px auto;
  width: 50%;
}

.theory-bar:hover {
  background-color: var(--color-button-hover);
  scale: 1.05;
  transition: 300ms;
}

.theory-bar:Nth-child(1) {
  animation-delay: 0s;
}

.theory-bar:Nth-child(2) {
  animation-delay: 0.05s;
}

.theory-bar:Nth-child(3) {
  animation-delay: 0.1s;
}

.theory-bar:Nth-child(4) {
  animation-delay: 0.15s;
}

.theory-bar:Nth-child(5) {
  animation-delay: 0.2s;
}

.theory-section {
  margin-top: 5%;
}