:root {
  --background: rgb(16, 14, 16);
  --themeColor: rgba(117, 64, 106, 0.308);
  --themerColor: rgb(71, 52, 71);
  --whiteColor: #ffc1fc;

  --buttonHover: rgb(32, 32, 36);
  --buttonInactive: rgb(28, 28, 32);
}

@keyframes LoadIn {
  0% {
    transform: translateY(25%);
    opacity: 0;
  }
  25% {
    transform: translateY(25%);
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  75% {
    transform: translateY(-1%);
    opacity: 1;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

/* Box-sizing */

* {
  box-sizing: border-box; /* Include padding and border in element's dimensions */
}

/* Body, Background dots pattern */

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: var(--background);
  background-image: radial-gradient(var(--themeColor) 1px, transparent 1px);
  background-size: 35px 35px;
  color: var(--whiteColor);
  font-family: Arial, Helvetica, sans-serif;
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: radial-gradient(circle, rgba(255, 255, 255, 0) 25%, var(--background));
  z-index: -1;
}

/* Header, Navigation bar, All its contents */
/* Header */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  width: 100%;
  background-color: var(--background);
  color: var(--whiteColor);
  padding: 0 32px;
  border-bottom: 1px solid var(--themeColor);
}

.logo {
  cursor: pointer;
  padding: 8px;
}

.logo a {
  display: flex;
  align-items: center;
}

.logo-img {
  border-radius: 50%;
}

.logo-text {
  margin-left: 16px;
  font-weight: bold;
  font-size: 1.5rem;
}

/* Navigation bar */

.navigation {
  display: flex;
  align-items: center;
  gap: 32px;
}

/* All its contents */

a {
  all: unset;
}

.nav-button {
  color: var(--whiteColor);
  cursor: pointer;
  text-decoration: none;
}

/* Upload - Icon, Title, Form */

.upload {
  animation: 0.5s ease-in-out 0s 1 LoadIn;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 172px);
  text-align: center;
}

.upload-title h1 {
  color: var(--whiteColor);
  font-size: 4rem;
  margin: 0;
  padding-top: 16px;
}

.upload-title p {
  color: gray;
  font-size: 1.5rem;
  margin: 8px 0 0;
  padding-bottom: 32px;
}

.button {
  width: 224px;
  height: 64px;
  background-color: var(--buttonInactive);
  border: 1px solid var(--themerColor);
  border-radius: 12px;
  color: var(--whiteColor);
  font-size: 1.5rem;
  cursor: pointer;
  transition: 300ms;
}

.button:hover {
  background-color: var(--buttonHover);
  scale: 1.05;
  transition: 300ms;
}

.button:active {
  background-color: var(--themerColor);
  scale: 1.1;
  transition: 300ms;
}

.text{
  margin-left: 20px;
}

h1{color: rgb(169, 103, 228);
  font-weight:1000;
  
}

h2{
  color: rgb(124, 89, 165);
}

h3{
  color: rgb(105, 77, 136);
}

/* about us */

.slider {
  width: fit-content;
  text-align: center;
  display: flex;
  overflow: hidden;
  margin-left: auto;
  margin-top: 5%;
  margin-right: auto;
}

.card {
  min-height: 200px;
  min-width: 275px;
  background-color: violet;
  border-radius: 10px;
  margin: 0 15px;
}

.card h3 {
  margin-top: 20%;
}